In [12]:
from rdflib import URIRef, BNode, Literal, Namespace,Graph
from rdflib.namespace import FOAF, DCTERMS, XSD, RDF, SDO, RDFS
import pandas as pd 
import kglab

Download and Explore Dataset

In [13]:
nutrition_df= pd.read_csv(r'Nutrition.csv',nrows=500, encoding='latin1',on_bad_lines='skip',sep=";",engine='python')
recipes_df = pd.read_csv(r"Recipes.csv",nrows=500, encoding= 'latin1',on_bad_lines='skip',sep=";",engine='python')
restaurants_df = pd.read_csv(r"Restaurants.csv",nrows=500, encoding= 'latin1',on_bad_lines='skip',sep=";",engine="python")

In [14]:
#explore columns
nutrition_df.head()

,Name,Description,RecipeCategory,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent
0,Low-Fat Berry Blue Frozen Dessert,Make and share this Low-Fat Berry Blue Frozen ...,Frozen Desserts,170.9,2.5,1.3,8.0,29.8,37.1,3.6,30.2,3.2
1,Biryani,Make and share this Biryani recipe from Food.com.,Chicken Breast,1110.7,58.8,16.6,372.8,368.4,84.4,9.0,20.4,63.4
2,Best Lemonade,This is from one of my first Good House Keepi...,Beverages,311.1,0.2,0.0,0.0,1.8,81.5,0.4,77.2,0.3
3,Carina's Tofu-Vegetable Kebabs,This dish is best prepared a day in advance to...,Soy/Tofu,536.1,24.0,3.8,0.0,1558.6,64.2,17.3,32.1,29.3
4,Cabbage Soup,Make and share this Cabbage Soup recipe from F...,Vegetable,103.6,0.4,0.1,0.0,959.3,25.1,4.8,17.7,4.3

In [15]:
recipes_df.head()

,RecipeId,Name,CookTime,PrepTime,DatePublished,Images,RecipeCategory,Keywords,RecipeIngredientQuantities,RecipeIngredientParts,RecipeServings,RecipeYield,RecipeInstructions
0,38,Low-Fat Berry Blue Frozen Dessert,PT24H,PT45M,1999-08-09T21:46:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Frozen Desserts,"c(""Dessert"", ""Low Protein"", ""Low Cholesterol"",...","c(""4"", ""1/4"", ""1"", ""1"")","c(""blueberries"", ""granulated sugar"", ""vanilla ...",4.0,NaN,"c(""Toss 2 cups berries with sugar."", ""Let stan..."
1,39,Biryani,PT25M,PT4H,1999-08-29T13:12:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Chicken Breast,"c(""Chicken Thigh & Leg"", ""Chicken"", ""Poultry"",...","c(""1"", ""4"", ""2"", ""2"", ""8"", ""1/4"", ""8"", ""1/2"", ...","c(""saffron"", ""milk"", ""hot green chili peppers""...",6.0,NaN,"c(""Soak saffron in warm milk for 5 minutes and..."
2,40,Best Lemonade,PT5M,PT30M,1999-09-05T19:52:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Beverages,"c(""Low Protein"", ""Low Cholesterol"", ""Healthy"",...","c(""1 1/2"", ""1"", NA, ""1 1/2"", NA, ""3/4"")","c(""sugar"", ""lemons, rind of"", ""lemon, zest of""...",4.0,NaN,"c(""Into a 1 quart Jar with tight fitting lid, ..."
3,41,Carina's Tofu-Vegetable Kebabs,PT20M,PT24H,1999-09-03T14:54:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Soy/Tofu,"c(""Beans"", ""Vegetable"", ""Low Cholesterol"", ""We...","c(""12"", ""1"", ""2"", ""1"", ""10"", ""1"", ""3"", ""2"", ""2...","c(""extra firm tofu"", ""eggplant"", ""zucchini"", ""...",2.0,4 kebabs,"c(""Drain the tofu, carefully squeezing out exc..."
4,42,Cabbage Soup,PT30M,PT20M,1999-09-19T06:19:00Z,"""https://img.sndimg.com/food/image/upload/w_55...",Vegetable,"c(""Low Protein"", ""Vegan"", ""Low Cholesterol"", ""...","c(""46"", ""4"", ""1"", ""2"", ""1"")","c(""plain tomato juice"", ""cabbage"", ""onion"", ""c...",4.0,NaN,"c(""Mix everything together and bring to a boil..."

In [16]:
restaurants_df.head()

,Restaurant ID,Restaurant Name,Country,City,Address,Locality Verbose,Longitude,Latitude,Cuisines,Currency,...,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Nummber of dishes in cuisines,Average cost of two in USD
0,1600219,12212,India,Nashik,"Shop 10, Ramrajya Building 7, Samarth Nagar, N...","College Road, Nashik",73.754636,20.006690,Fast Food,Indian Rupees(Rs.),...,0,0,0,2,3.5,3.70,3,80,1,4.664
1,17057397,'Ohana,USA,Orlando,"1600 Seven Seas Drive, Lake Buena Vista, FL 32830","Disney World Area, Orlando",-81.585226,28.405437,Hawaiian,Dollar($),...,0,0,0,3,4.5,4.65,5,1151,1,45.000
2,18222559,{Niche} - Cafe & Bar,India,New Delhi,"2nd & 3rd Floor, M-16, M Block, Outer Circle, ...","Connaught Place, New Delhi",77.222507,28.631516,"North Indian, Chinese, Italian, Continental",Indian Rupees(Rs.),...,0,0,0,3,4.1,4.25,4,492,4,17.490
3,113702,@Mango,India,Ahmedabad,"Opposite Sindhu Bhawan, Bodakdev, Ahmedabad","Bodakdev, Ahmedabad",72.501764,23.040163,"North Indian, Continental, Mexican, Italian",Indian Rupees(Rs.),...,0,0,0,3,4.1,4.25,4,769,4,9.328
4,3100446,#45,India,Mangalore,"Ground Floor, Trinity Commercial Complex, Near...","Attavar, Mangalore",0.000000,0.000000,Cafe,Indian Rupees(Rs.),...,0,0,0,2,3.6,3.70,3,209,1,6.996

Representation ot the Graph

In [17]:
#namespace
EX = Namespace('http://kg-course.io/food-nutrition/')
SCHEMA = Namespace('')
#generate new graph
g=Graph()

#bind prefix to namespace 
g.bind('ex',EX)
g.bind('schema',SDO)

Define Entities and Relations

Recipes

In [18]:
#create an IRI and set properties
for _, row in recipes_df.iterrows():
    recipe_uri = EX[f"recipe/{row['RecipeId']}"]
    g.add((recipe_uri,RDF.type,SDO.Recipe))
    g.add((recipe_uri,SDO.name,Literal(row['Name'])))
    g.add((recipe_uri,SDO.cookTime,Literal(row['CookTime'],datatype=XSD.duration)))
    g.add((recipe_uri,SDO.prepTime,Literal(row['PrepTime'], datatype=XSD.duration)))
    g.add((recipe_uri,SDO.datePublished,Literal(row['DatePublished'], datatype=XSD.dateTime)))
    g.add((recipe_uri,SDO.image,Literal(row['Images'])))
    g.add((recipe_uri,SDO.recipeCategory,Literal(row['RecipeCategory'])))
    g.add((recipe_uri,SDO.keywords,Literal(row['Keywords'])))
    g.add((recipe_uri,EX['ingredientQuantities'],Literal(row['RecipeIngredientQuantities'])))
    g.add((recipe_uri,SDO.recipeIngredient,Literal(row['RecipeIngredientParts'])))
    g.add((recipe_uri,SDO.recipeYield,Literal(row['RecipeServings'],datatype=XSD.int)))
    g.add((recipe_uri,SDO.recipeYield,Literal(row['RecipeYield'])))
    g.add((recipe_uri,SDO.recipeInstructions,Literal(row['RecipeInstructions'])))

In [19]:
recipe_by_name = {}
for _, r in recipes_df.iterrows():
    uri = EX[f"recipe/{r['RecipeId']}"]
    name = str(r["Name"]).strip().lower()
    recipe_by_name[name] = uri

Nutritions

In [20]:
#create an IRI 
def nutrition_uri(i):
    return EX[f"nutrition/{i}"]

#set properties
for i, row in nutrition_df.iterrows():
    n_uri=nutrition_uri(i)
    g.add((n_uri,RDF.type,SDO.NutritionInformation))
    g.add((n_uri,SDO.description,Literal(row['Description'])))
    g.add((n_uri,SDO.recipeCategory,Literal(row['RecipeCategory'])))
    g.add((n_uri, SDO.calories, Literal(row["Calories"], datatype=XSD.float)))
    g.add((n_uri, SDO.fatContent, Literal(row["FatContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.saturatedFatContent, Literal(row["SaturatedFatContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.cholesterolContent, Literal(row["CholesterolContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.sodiumContent, Literal(row["SodiumContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.carbohydrateContent, Literal(row["CarbohydrateContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.fiberContent, Literal(row["FiberContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.sugarContent, Literal(row["SugarContent"], datatype=XSD.float)))
    g.add((n_uri, SDO.proteinContent, Literal(row["ProteinContent"], datatype=XSD.float)))

    recipe_name = str(row["Name"]).strip().lower()
    if recipe_name in recipe_by_name:
        recipe_uri = recipe_by_name[recipe_name]
        g.add((recipe_uri, SDO.nutrition, n_uri))

Restaurants

In [21]:
#create an IRI and set properties
for _, row in restaurants_df.iterrows():
    rest_uri = EX[f"restaurant/{row['Restaurant ID']}"]
    g.add((rest_uri, RDF.type, SDO.Restaurant))
    g.add((rest_uri, SDO.name, Literal(row["Restaurant Name"])))
    g.add((rest_uri, SDO.addressLocality, Literal(row["City"])))
    g.add((rest_uri, EX["country"], Literal(row["Country"])))
    g.add((rest_uri, SDO.address, Literal(row["Address"])))
    g.add((rest_uri, EX["localityVerbose"], Literal(row["Locality Verbose"])))
    g.add((rest_uri, SDO.longitude, Literal(row["Longitude"], datatype=XSD.float)))
    g.add((rest_uri, SDO.latitude, Literal(row["Latitude"], datatype=XSD.float)))
    g.add((rest_uri, SDO.servesCuisine, Literal(row["Cuisines"])))
    g.add((rest_uri, EX["currency"], Literal(row["Currency"])))
    g.add((rest_uri, EX["hasTableBooking"], Literal(row["Has Table booking"],datatype=XSD.int)))
    g.add((rest_uri, EX["hasOnlineDelivery"], Literal(row["Has Online delivery"],datatype=XSD.int)))
    g.add((rest_uri, EX["isDeliveringNow"], Literal(row["Is delivering now"],datatype=XSD.int)))
    g.add((rest_uri, EX["switchToOrderMenu"], Literal(row["Switch to order menu"],datatype=XSD.int)))
    g.add((rest_uri, EX["priceRange"], Literal(row["Price range"],datatype=XSD.int)))
    g.add((rest_uri, SDO.aggregateRating, Literal(row["Aggregate rating"], datatype=XSD.float)))
    g.add((rest_uri, EX["ratingColor"], Literal(row["Rating color"],datatype=XSD.float)))
    g.add((rest_uri, EX["ratingText"], Literal(row["Rating text"],datatype=XSD.int)))
    g.add((rest_uri, EX["votes"], Literal(row["Votes"], datatype=XSD.int)))
    g.add((rest_uri, EX["numberOfDishesInCuisines"], Literal(row["Nummber of dishes in cuisines"], datatype=XSD.int)))
    g.add((rest_uri, EX["averageCostForTwoUSD"], Literal(row["Average cost of two in USD"], datatype=XSD.decimal)))

In [22]:
for _, r_row in recipes_df.iterrows():
    recipe_uri = EX[f"recipe/{r_row['RecipeId']}"]
    recipe_text = (str(r_row["Keywords"]) + " " + str(r_row["RecipeCategory"])).lower()

    for _, rest_row in restaurants_df.iterrows():
        rest_uri = EX[f"restaurant/{rest_row['Restaurant ID']}"]
        cuisines_text = str(rest_row["Cuisines"]).lower()

        if any(tok in cuisines_text for tok in recipe_text.split()):
            g.add((recipe_uri, EX["likelyAvailableAt"], rest_uri))

In [23]:
g.serialize("graph_task2.ttl", format="turtle")